.math {
  background: #6417ff;
  background: linear-gradient(to bottom, #b68cfa 0%, #6d6be4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.webdevGrad {
  background: #89e3ff;
  background: linear-gradient(to bottom, #89e3ff 0%, #5f9bd3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.parralax {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.parralaxChild100 {
  background-color: transparent;
  transform: translateZ(100px);
}

.parralaxChild75 {
  background-color: transparent;
  transform: translateZ(75px);
}

.parralaxChild50 {
  background-color: transparent;
  transform: translateZ(50px);
}

.parralaxChild25 {
  background-color: transparent;
  transform: translateZ(25px);
}

.js_image {
  background-image: url('/js.png');
}

.css_image {
  background-image: url('/css.png');
}

.html_image {
  background-image: url('/html.png');
}

.console_image {
  background-image: url('/console.png');
}

.imgprops {
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 100% 100%;
  background-position: center;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
