@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
}

body {
  background-color: #090911;
  /* background-color: gray; */
  margin-top: 0px;
  overflow-x: hidden;
}

/* Hide scrollbar on Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

}

/* Hide scrollbar on Webkit */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

svg {
  position: relative;
  z-index: -1;
}

#line {
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  animation: draw 2s ease-in-out forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation-name: fade-in;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
}

