@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
}

body {
  background-color: #0d0d0e;
  margin-top: 0px;
}

svg {
  position: relative;
  z-index: -1;
}
